.widget__markup
  overflow hidden

.widget-markup__container
  height 100%
  overflow hidden

.widget-markup__body
  height 100%
  overflow hidden 

.widget-markup__img
  object-fit: cover
  width: 100%
  height: 100%